# 변수와 자료형

## 변수(Variable)
분석에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는     
기억장소를 지정해 주는 역할.       
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.       

(1)변수 이름의 작성 규칙     
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot를 사용할 수 있음.
- 대문자와 소문자를 구분한다.   
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋습니다.    
- 두 단어를 포함한 변수 이름을 지정할 경우 두번째 단어의 첫자는 대문자나 underbar로 표시.
ex) appleFruit(Camel기법), apple_fruit(Snake기법)

In [3]:
# 변수 만들기 : 결과물을 메모리에 보관 
var1 <- 2
2 -> var1 # 권장하지 않음 
var1 = 2

In [4]:
var1

[1] 2

In [9]:
# 변수에는 최근값이 저장된다. 
var1 <- 0
var1 <- 1
var1 <- "Apple"

var1

[1] "Apple"

In [11]:
var1 <- 12
var2 <- 23
var1 + var2

[1] 35

In [13]:
# 변수의 재활용

var1 <- var1 + 12
var1

[1] 24

In [25]:
# 벡터 Data와 함수 사용하기
sum(iris$Sepal.Length)
sum(iris$Sepal.Width)
sum(iris$Petal.Length)
sum(iris$Petal.Width)

[1] 876.5

[1] 458.6

[1] 563.7

[1] 179.9

In [16]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [29]:
sum(head(iris$Sepal.Length))

[1] 29.7

In [44]:
head(iris)$Sepal.Length[1:4]

[1] 5.1 4.9 4.7 4.6

In [48]:
# iris의 Sepal.Length의 1번부터 100번까지의 합계 구하기
sum(iris$Sepal.Length[1:100])

[1] 547.1

In [49]:
# 숫자 1~100까지의 합계를 구하시오
1:100

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [53]:
# 일반 변수 (스칼라 변수)의 사용
num1 <- 10
num1
num1[1]
num1[2]

[1] 10

[1] 10

[1] NA

In [57]:
# 10, 20, 30
num2 <- c(10, 20, 30) # combine
num2[1]
num2[2]
num2[1] + num2[2]
sum(num2)

[1] 10

[1] 20

[1] 30

[1] 60

In [60]:
# NA(Not Available: 결측치)
sum(10,20,30,NA)
sum(10,20,30,NA, na.rm = T)

[1] NA

[1] 60

# 관계 연산자

In [61]:
num1 <- 100
num2 <- 20

In [63]:
# 동등 비교
num1 == num2
num1 != num2

[1] FALSE

[1] TRUE

In [69]:
# 크기 비교
num1 > num2
num2 < num2
num1 >= num2
num1 <= num2

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

# 논리 연산자

In [71]:
# And, OR 

num1 >=50 & num2 <= 10
num1 >= 50 | num2 <= 10

[1] FALSE

[1] TRUE

In [73]:
# 부정 연산자
!(num1 >= 50)

[1] FALSE

# 자료형 확인
- is.numeric(x) : x가 수치형?
- is.logical(x) : x가 논리형? 
- is.integer(x) : x가 정수형? 
- is.double(x) : x가 실수형?
- is.data.frame(x) : x가 데이터프레임?
- is.factor(x) : x가 범주형? 
- is.na(x) : x에 NA가 있냐?

In [76]:
# iris의 Sepal.Length컬럼의 자료형 확인 
# NA 확인
sum(is.na(iris))

[1] 0

In [80]:
is.numeric(iris$Sepal.Length)
is.integer(iris$Sepal.Length)
is.double(iris$Sepal.Length)
is.data.frame(iris)

[1] TRUE

[1] FALSE

[1] TRUE

[1] TRUE

In [82]:
class(iris)
class(iris$Sepal.Length)

[1] "data.frame"

[1] "numeric"

In [74]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [83]:
# iris의 자료구조 확인하기

str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...